body main section header {
  margin: 20px 0;
}
body main section form .form-group .essential {
  position: relative;
}
body main section form .form-group .essential::after {
  content: "*";
  position: absolute;
  right: 0;
  top: 0;
  color: red;
  font-size: 16px;
}
body main section form .form-group textarea {
  resize: none;
}
body main section form .submit-group {
  margin: 30px 0 0 0;
}
body main section form .submit-group button span {
  margin: 0 0 0 10px;
}
