<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xidian.iot.database.mapper.custom.NodeActCmdCustomMapper">
    <insert id="addBatch" parameterType="java.util.List">
        insert into node_act_cmd (nac_id, nc_id, nt_id)
        values
        <foreach collection="nacs" item="nac" separator=",">
            (#{nac.nacId,jdbcType=BIGINT}, #{nac.ncId,jdbcType=BIGINT}, #{nac.ntId,jdbcType=BIGINT})
        </foreach>
    </insert>
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="nacs" item="nac" separator=",">
            update node_act_cmd
            set
            nc_id = #{nac.ncId,jdbcType=BIGINT}
            where nac_id = #{nac.nacId,jdbcType=BIGINT}
        </foreach>
    </update>
</mapper>