body main {
  margin: 0;
  min-height: calc(100vh - 60px);
}
body main .container {
  width: 100%;
  padding: 0;
  margin: 0;
}
body main .container #slideshow .carousel-inner .item {
  width: 100%;
}
body main .container #slideshow .carousel-inner .item img {
  width: 100%;
}
body main .introduce {
  margin: 20px 0;
  width: 100%;
  height: 240px;
  color: gray;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
body main .introduce > div {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .introduce > div img {
  text-align: center;
}
body main .introduce > div .product-head {
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
body main .introduce > div .product_detail {
  font-size: 16px;
  overflow: hidden;
  display: -webkit-box;
}
body main .introduce > div:hover {
  color: black;
}
