<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xidian.iot.database.mapper.NodeCmdProtMapper">
  <resultMap id="BaseResultMap" type="com.xidian.iot.database.pojo.NodeCmdProt">
    <id column="ncp_id" jdbcType="BIGINT" property="ncpId" />
    <result column="node_id" jdbcType="BIGINT" property="nodeId" />
    <result column="ncp_type" jdbcType="VARCHAR" property="ncpType" />
    <result column="ncp_down" jdbcType="VARCHAR" property="ncpDown" />
    <result column="ncp_up" jdbcType="VARCHAR" property="ncpUp" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ncp_id, node_id, ncp_type, ncp_down, ncp_up
  </sql>
  <select id="selectByExample" parameterType="com.xidian.iot.database.pojo.NodeCmdProtExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from node_cmd_prot
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from node_cmd_prot
    where ncp_id = #{ncpId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from node_cmd_prot
    where ncp_id = #{ncpId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.xidian.iot.database.pojo.NodeCmdProtExample">
    delete from node_cmd_prot
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xidian.iot.database.pojo.NodeCmdProt">
    <selectKey keyProperty="ncpId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into node_cmd_prot (node_id, ncp_type, ncp_down, 
      ncp_up)
    values (#{nodeId,jdbcType=BIGINT}, #{ncpType,jdbcType=VARCHAR}, #{ncpDown,jdbcType=VARCHAR}, 
      #{ncpUp,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xidian.iot.database.pojo.NodeCmdProt">
    <selectKey keyProperty="ncpId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into node_cmd_prot
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="nodeId != null">
        node_id,
      </if>
      <if test="ncpType != null">
        ncp_type,
      </if>
      <if test="ncpDown != null">
        ncp_down,
      </if>
      <if test="ncpUp != null">
        ncp_up,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="nodeId != null">
        #{nodeId,jdbcType=BIGINT},
      </if>
      <if test="ncpType != null">
        #{ncpType,jdbcType=VARCHAR},
      </if>
      <if test="ncpDown != null">
        #{ncpDown,jdbcType=VARCHAR},
      </if>
      <if test="ncpUp != null">
        #{ncpUp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xidian.iot.database.pojo.NodeCmdProtExample" resultType="java.lang.Long">
    select count(*) from node_cmd_prot
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update node_cmd_prot
    <set>
      <if test="record.ncpId != null">
        ncp_id = #{record.ncpId,jdbcType=BIGINT},
      </if>
      <if test="record.nodeId != null">
        node_id = #{record.nodeId,jdbcType=BIGINT},
      </if>
      <if test="record.ncpType != null">
        ncp_type = #{record.ncpType,jdbcType=VARCHAR},
      </if>
      <if test="record.ncpDown != null">
        ncp_down = #{record.ncpDown,jdbcType=VARCHAR},
      </if>
      <if test="record.ncpUp != null">
        ncp_up = #{record.ncpUp,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update node_cmd_prot
    set ncp_id = #{record.ncpId,jdbcType=BIGINT},
      node_id = #{record.nodeId,jdbcType=BIGINT},
      ncp_type = #{record.ncpType,jdbcType=VARCHAR},
      ncp_down = #{record.ncpDown,jdbcType=VARCHAR},
      ncp_up = #{record.ncpUp,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xidian.iot.database.pojo.NodeCmdProt">
    update node_cmd_prot
    <set>
      <if test="nodeId != null">
        node_id = #{nodeId,jdbcType=BIGINT},
      </if>
      <if test="ncpType != null">
        ncp_type = #{ncpType,jdbcType=VARCHAR},
      </if>
      <if test="ncpDown != null">
        ncp_down = #{ncpDown,jdbcType=VARCHAR},
      </if>
      <if test="ncpUp != null">
        ncp_up = #{ncpUp,jdbcType=VARCHAR},
      </if>
    </set>
    where ncp_id = #{ncpId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xidian.iot.database.pojo.NodeCmdProt">
    update node_cmd_prot
    set node_id = #{nodeId,jdbcType=BIGINT},
      ncp_type = #{ncpType,jdbcType=VARCHAR},
      ncp_down = #{ncpDown,jdbcType=VARCHAR},
      ncp_up = #{ncpUp,jdbcType=VARCHAR}
    where ncp_id = #{ncpId,jdbcType=BIGINT}
  </update>
</mapper>