<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xidian.iot.database.mapper.NodeActAlertMapper">
  <resultMap id="BaseResultMap" type="com.xidian.iot.database.entity.NodeActAlert">
    <id column="naa_id" jdbcType="BIGINT" property="naaId" />
    <result column="nt_id" jdbcType="BIGINT" property="ntId" />
    <result column="naa_type" jdbcType="TINYINT" property="naaType" />
    <result column="naa_val" jdbcType="VARCHAR" property="naaVal" />
    <result column="naa_content" jdbcType="VARCHAR" property="naaContent" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    naa_id, nt_id, naa_type, naa_val, naa_content
  </sql>
  <select id="selectByExample" parameterType="com.xidian.iot.database.entity.NodeActAlertExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from node_act_alert
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from node_act_alert
    where naa_id = #{naaId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from node_act_alert
    where naa_id = #{naaId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.xidian.iot.database.entity.NodeActAlertExample">
    delete from node_act_alert
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xidian.iot.database.entity.NodeActAlert">
    insert into node_act_alert (naa_id, nt_id, naa_type, 
      naa_val, naa_content)
    values (#{naaId,jdbcType=BIGINT}, #{ntId,jdbcType=BIGINT}, #{naaType,jdbcType=TINYINT}, 
      #{naaVal,jdbcType=VARCHAR}, #{naaContent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xidian.iot.database.entity.NodeActAlert">
    insert into node_act_alert
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="naaId != null">
        naa_id,
      </if>
      <if test="ntId != null">
        nt_id,
      </if>
      <if test="naaType != null">
        naa_type,
      </if>
      <if test="naaVal != null">
        naa_val,
      </if>
      <if test="naaContent != null">
        naa_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="naaId != null">
        #{naaId,jdbcType=BIGINT},
      </if>
      <if test="ntId != null">
        #{ntId,jdbcType=BIGINT},
      </if>
      <if test="naaType != null">
        #{naaType,jdbcType=TINYINT},
      </if>
      <if test="naaVal != null">
        #{naaVal,jdbcType=VARCHAR},
      </if>
      <if test="naaContent != null">
        #{naaContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xidian.iot.database.entity.NodeActAlertExample" resultType="java.lang.Long">
    select count(*) from node_act_alert
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update node_act_alert
    <set>
      <if test="record.naaId != null">
        naa_id = #{record.naaId,jdbcType=BIGINT},
      </if>
      <if test="record.ntId != null">
        nt_id = #{record.ntId,jdbcType=BIGINT},
      </if>
      <if test="record.naaType != null">
        naa_type = #{record.naaType,jdbcType=TINYINT},
      </if>
      <if test="record.naaVal != null">
        naa_val = #{record.naaVal,jdbcType=VARCHAR},
      </if>
      <if test="record.naaContent != null">
        naa_content = #{record.naaContent,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update node_act_alert
    set naa_id = #{record.naaId,jdbcType=BIGINT},
      nt_id = #{record.ntId,jdbcType=BIGINT},
      naa_type = #{record.naaType,jdbcType=TINYINT},
      naa_val = #{record.naaVal,jdbcType=VARCHAR},
      naa_content = #{record.naaContent,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xidian.iot.database.entity.NodeActAlert">
    update node_act_alert
    <set>
      <if test="ntId != null">
        nt_id = #{ntId,jdbcType=BIGINT},
      </if>
      <if test="naaType != null">
        naa_type = #{naaType,jdbcType=TINYINT},
      </if>
      <if test="naaVal != null">
        naa_val = #{naaVal,jdbcType=VARCHAR},
      </if>
      <if test="naaContent != null">
        naa_content = #{naaContent,jdbcType=VARCHAR},
      </if>
    </set>
    where naa_id = #{naaId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xidian.iot.database.entity.NodeActAlert">
    update node_act_alert
    set nt_id = #{ntId,jdbcType=BIGINT},
      naa_type = #{naaType,jdbcType=TINYINT},
      naa_val = #{naaVal,jdbcType=VARCHAR},
      naa_content = #{naaContent,jdbcType=VARCHAR}
    where naa_id = #{naaId,jdbcType=BIGINT}
  </update>
</mapper>