<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xidian.iot.database.mapper.NodeCmdStdMapper">
  <resultMap id="BaseResultMap" type="com.xidian.iot.database.pojo.NodeCmdStd">
    <id column="ncs_id" jdbcType="BIGINT" property="ncsId" />
    <result column="ncs_key" jdbcType="VARCHAR" property="ncsKey" />
    <result column="ncs_name" jdbcType="VARCHAR" property="ncsName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ncs_id, ncs_key, ncs_name
  </sql>
  <select id="selectByExample" parameterType="com.xidian.iot.database.pojo.NodeCmdStdExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from node_cmd_std
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from node_cmd_std
    where ncs_id = #{ncsId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from node_cmd_std
    where ncs_id = #{ncsId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.xidian.iot.database.pojo.NodeCmdStdExample">
    delete from node_cmd_std
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xidian.iot.database.pojo.NodeCmdStd">
    <selectKey keyProperty="ncsId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into node_cmd_std (ncs_key, ncs_name)
    values (#{ncsKey,jdbcType=VARCHAR}, #{ncsName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xidian.iot.database.pojo.NodeCmdStd">
    <selectKey keyProperty="ncsId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into node_cmd_std
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ncsKey != null">
        ncs_key,
      </if>
      <if test="ncsName != null">
        ncs_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ncsKey != null">
        #{ncsKey,jdbcType=VARCHAR},
      </if>
      <if test="ncsName != null">
        #{ncsName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xidian.iot.database.pojo.NodeCmdStdExample" resultType="java.lang.Long">
    select count(*) from node_cmd_std
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update node_cmd_std
    <set>
      <if test="record.ncsId != null">
        ncs_id = #{record.ncsId,jdbcType=BIGINT},
      </if>
      <if test="record.ncsKey != null">
        ncs_key = #{record.ncsKey,jdbcType=VARCHAR},
      </if>
      <if test="record.ncsName != null">
        ncs_name = #{record.ncsName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update node_cmd_std
    set ncs_id = #{record.ncsId,jdbcType=BIGINT},
      ncs_key = #{record.ncsKey,jdbcType=VARCHAR},
      ncs_name = #{record.ncsName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xidian.iot.database.pojo.NodeCmdStd">
    update node_cmd_std
    <set>
      <if test="ncsKey != null">
        ncs_key = #{ncsKey,jdbcType=VARCHAR},
      </if>
      <if test="ncsName != null">
        ncs_name = #{ncsName,jdbcType=VARCHAR},
      </if>
    </set>
    where ncs_id = #{ncsId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xidian.iot.database.pojo.NodeCmdStd">
    update node_cmd_std
    set ncs_key = #{ncsKey,jdbcType=VARCHAR},
      ncs_name = #{ncsName,jdbcType=VARCHAR}
    where ncs_id = #{ncsId,jdbcType=BIGINT}
  </update>
</mapper>