<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xidian.iot.database.mapper.NodeAttrStdMapper">
  <resultMap id="BaseResultMap" type="com.xidian.iot.database.entity.NodeAttrStd">
    <id column="nas_id" jdbcType="BIGINT" property="nasId" />
    <result column="nas_key" jdbcType="VARCHAR" property="nasKey" />
    <result column="nas_desc" jdbcType="VARCHAR" property="nasDesc" />
    <result column="nas_unit" jdbcType="VARCHAR" property="nasUnit" />
    <result column="nas_sym" jdbcType="VARCHAR" property="nasSym" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    nas_id, nas_key, nas_desc, nas_unit, nas_sym
  </sql>
  <select id="selectByExample" parameterType="com.xidian.iot.database.entity.NodeAttrStdExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from node_attr_std
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from node_attr_std
    where nas_id = #{nasId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from node_attr_std
    where nas_id = #{nasId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.xidian.iot.database.entity.NodeAttrStdExample">
    delete from node_attr_std
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xidian.iot.database.entity.NodeAttrStd">
    insert into node_attr_std (nas_id, nas_key, nas_desc, 
      nas_unit, nas_sym)
    values (#{nasId,jdbcType=BIGINT}, #{nasKey,jdbcType=VARCHAR}, #{nasDesc,jdbcType=VARCHAR}, 
      #{nasUnit,jdbcType=VARCHAR}, #{nasSym,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xidian.iot.database.entity.NodeAttrStd">
    insert into node_attr_std
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="nasId != null">
        nas_id,
      </if>
      <if test="nasKey != null">
        nas_key,
      </if>
      <if test="nasDesc != null">
        nas_desc,
      </if>
      <if test="nasUnit != null">
        nas_unit,
      </if>
      <if test="nasSym != null">
        nas_sym,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="nasId != null">
        #{nasId,jdbcType=BIGINT},
      </if>
      <if test="nasKey != null">
        #{nasKey,jdbcType=VARCHAR},
      </if>
      <if test="nasDesc != null">
        #{nasDesc,jdbcType=VARCHAR},
      </if>
      <if test="nasUnit != null">
        #{nasUnit,jdbcType=VARCHAR},
      </if>
      <if test="nasSym != null">
        #{nasSym,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xidian.iot.database.entity.NodeAttrStdExample" resultType="java.lang.Long">
    select count(*) from node_attr_std
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update node_attr_std
    <set>
      <if test="record.nasId != null">
        nas_id = #{record.nasId,jdbcType=BIGINT},
      </if>
      <if test="record.nasKey != null">
        nas_key = #{record.nasKey,jdbcType=VARCHAR},
      </if>
      <if test="record.nasDesc != null">
        nas_desc = #{record.nasDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.nasUnit != null">
        nas_unit = #{record.nasUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.nasSym != null">
        nas_sym = #{record.nasSym,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update node_attr_std
    set nas_id = #{record.nasId,jdbcType=BIGINT},
      nas_key = #{record.nasKey,jdbcType=VARCHAR},
      nas_desc = #{record.nasDesc,jdbcType=VARCHAR},
      nas_unit = #{record.nasUnit,jdbcType=VARCHAR},
      nas_sym = #{record.nasSym,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xidian.iot.database.entity.NodeAttrStd">
    update node_attr_std
    <set>
      <if test="nasKey != null">
        nas_key = #{nasKey,jdbcType=VARCHAR},
      </if>
      <if test="nasDesc != null">
        nas_desc = #{nasDesc,jdbcType=VARCHAR},
      </if>
      <if test="nasUnit != null">
        nas_unit = #{nasUnit,jdbcType=VARCHAR},
      </if>
      <if test="nasSym != null">
        nas_sym = #{nasSym,jdbcType=VARCHAR},
      </if>
    </set>
    where nas_id = #{nasId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xidian.iot.database.entity.NodeAttrStd">
    update node_attr_std
    set nas_key = #{nasKey,jdbcType=VARCHAR},
      nas_desc = #{nasDesc,jdbcType=VARCHAR},
      nas_unit = #{nasUnit,jdbcType=VARCHAR},
      nas_sym = #{nasSym,jdbcType=VARCHAR}
    where nas_id = #{nasId,jdbcType=BIGINT}
  </update>
</mapper>